.hero{
    height: 100vh;
    position: relative;
    z-index: 99;
    
}

.hero video{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero::after{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 98;
    background: radial-gradient(43.66% 43.66% at 50% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
}

.content{
    position: relative;
    z-index: 99;
    padding: 13vh 0;
    max-width: 1180px;
    margin-inline:auto;
}

.separator{
    background: #00FFCC;
    box-shadow: 0px 3.13617px 0px #FFFF00;
    border-radius: 6.27233px;
    height: 4px;
    max-width: 500px;
    margin: 0 auto;
}

@media (max-width:767px){
    .content{
        padding: 40px 0;
    }
    .separator {
        height: 2px;
        max-width: 280px;
    }
}